body{
    background-color: black;
color: whitesmoke;
}
header{
    height: 50px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-right: 5px;
}
img{
    height: 50px;
    width: 100px;
}
.headbtn{
    display: flex;
    justify-content: end;
    gap: 9px;
    margin-right: 5px;
}


.lanbtn{
    background: rgb(0, 0, 0);
    color: white;
    border: 2px white solid;
    border-radius: 10px;
    cursor: pointer;
}
.singin{
    background-color: red;
    color: white;
    border: 2px white solid;
    border-radius: 10px;
}
pre{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    font-weight: 700;

}
h1{
   font-weight: bolder;
   color: antiquewhite;
   font-size: 30px;
   
}
input{
    background: white;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 300px;
    border: 3px black solid;
    border-radius: 30px;
  
    
    
    
  }
    .startbtn{
        background: red;
        color: white;
        height: 50px;
        width: 150px;
        border: 3px black solid;
        border-radius: 30px;
    }
    .main {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url("background.png");
        line-height:15px;
      }
      ::placeholder{
        text-align: center;
        color:gray
      }







      



